table tr.heading {
    color: white;
    background-color: mediumseagreen;
}

table.details {
    font-size: 12px;
}

input:invalid:focus, select:invalid:focus {
    background-image: linear-gradient(rgb(247, 230, 230), rgb(238, 247, 238));
    border: 2px solid red; 
}

input.is-invalid, select.is-invalid {
    background-image: linear-gradient(rgb(247, 230, 230), rgb(238, 247, 238));
    border: 2px solid red;
}

span.help-block {
    color: red;
    font-size: smaller;
    font-weight: bold;
}

button.reload {
    display: none;
}

div.justify-content-between>a {
    margin: 2px;
}

div.dataTables_processing {
    background-color: #f0f8ff;
}

div.help-block {
    font-size: small;
}

.filtr-item {
    box-shadow: 5px 5px #809393;
    border-radius: 5px;
}

thead {
    background-color: #151617;
    color: white;
}

tr.odd {
    background-color: #ebf3ef;
}

img {
    border-radius: 10px;
    text-shadow: 5px 5px #69706f;
}

.brand-link .brand-image-logo {
    float: left;
    line-height: .8;
    margin-left: -0.2rem;
    margin-right: 0.5rem;
    margin-top: -3px;
    max-height: 33px;
    width: auto;
}

span.badge {
    padding: 10px;
}

.card {
    margin-top: 10px;
}

div.dataTables_wrapper div.dataTables_processing { 
    z-index: 1000; 
}

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}