table tr.heading {
    color: white;
    background-color: mediumseagreen;
}

table.details {
    font-size: 12px;
}

input:invalid:focus, select:invalid:focus {
    background-image: linear-gradient(rgb(247, 230, 230), rgb(238, 247, 238));
    border: 2px solid red; 
}

input.is-invalid, select.is-invalid {
    background-image: linear-gradient(rgb(247, 230, 230), rgb(238, 247, 238));
    border: 2px solid red;
}

span.help-block {
    color: red;
    font-size: smaller;
    font-weight: bold;
}

button.reload {
    display: none;
}

div.justify-content-between>a {
    margin: 2px;
}

div.dataTables_processing {
    background-color: #f0f8ff;
}

div.help-block {
    font-size: small;
}

.filtr-item {
    box-shadow: 5px 5px #809393;
    border-radius: 5px;
}

thead {
    background-color: #151617;
    color: white;
}

tr.odd {
    background-color: #ebf3ef;
}

img {
    border-radius: 10px;
    text-shadow: 5px 5px #69706f;
}

.brand-link .brand-image-logo {
    float: left;
    line-height: .8;
    margin-left: -0.2rem;
    margin-right: 0.5rem;
    margin-top: -3px;
    max-height: 33px;
    width: auto;
}

span.badge {
    padding: 10px;
}

.card {
    margin-top: 10px;
}
